.vscode
output
*.pyc

tmp
__pycache__
DoInterpolacji2.tab
points.lyr
*.pth
ml/config.cfg
ml-env
venv
predictions
.neptune
mpl_img
predictions.csv
pro.sh
test.py
pro_cpu.sh
pro_gpu.sh
test.py
results
.ipynb_checkpoints
